 <!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Ruby Interiors and Constructions</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/loader3.css" type="text/css" >
        <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" >
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="main">
            <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #26e2df;">
                    <a class="navbar-brand" href="https://webdev-wasif4000.c9users.io"><img id="logoimg"src="./images/logo.png"> </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="https://webdev-wasif4000.c9users.io/about">About <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="https://webdev-wasif4000.c9users.io/portfolio">Portfolio</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            SOCIAL
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" target="_blank" href="https://www.facebook.com/rubyinteriors007"><i class="fab fa-facebook-square fa-lg"></i> Facebook</a>
                            <a class="dropdown-item" target="_blank" href="https://www.linkedin.com/in/kaneez-fatma-34b9a1188/"><i class="fab fa-linkedin fa-lg"></i> linkedIn</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" target="_blank" href="https://www.instagram.com/rubyinteriors7/"><i class="fab fa-instagram fa-lg"></i> Instagram</a>
                          </div>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#" >Gallery</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="https://webdev-wasif4000.c9users.io/contact" >Contact Us</a>
                        </li>
                      </ul>
                    </div>
                  </nav> 
  
<section id="header" class="jumbotron jumbotron-fluid text-center">
    <div  class="container">
        <div class="row">
            <div class="col">
                <h1 id="jumtitle">Ruby Interiors and Constructions</h1>
                <p  id="jumtext">Design can be art Design can be Aesthetics. Design is so simple, <em>that's why it is so complicated.</em></p>
          </div>
        </div>
    </div>
</section>
 
 
 
 <div class="container">
                    <div class="row">
                      <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col-md-6">
                        <img class="img-fluid rounded " src="images/17th jan photos/blue-brick-wall-chair-1282315.jpg" alt="">
                      </div>

                      <div class="col-12 col-sm-12 col-lg-6 col-xl-6 col-md-6">
                        <h3 class="display-4"> <strong>Contact Us</strong> </h3>
                        <p>J5/607 Provident Welworth City Marasandra,
                            <br>
                           DB Main Road, Yelahanka, Bengaluru, Karnataka 562157
                          <br>
                          <strong>Office:</strong> <a href="tel:+91 9513267961">+91 9513267961</a> 
                          <br>
                          <strong>Email:</strong> <a href="mailto:ruby.interiors7@Gmail.Com">ruby.interiors7@Gmail.Com</a> 
                          <br>
                          <strong>Web:</strong> <a href="https://ide.c9.io/wasif4000/webdev">https://ide.c9.io/wasif4000/webdev</a> 
                          <br>  
                        </p>
                        <h4>Send Us A Message</h4>
                         
                        <form method='post' action='send'>
                          <div class="form-row">
                            <div class="col">
                              <input type="text" class="form-control mb-3 mt-3" placeholder="Your Name" name='name'>
                              <input type="email" class="form-control mb-3" placeholder="Your Email" name='email'>
                              <input type="number" class="form-control mb-3" placeholder="Your phone" name='phone'>
                              <div class="form-group">
                                <textarea name='message' class="form-control mb-3" placeholder="Your Message" id="exampleFormControlTextarea1" rows="4" ></textarea>
                              </div>
                              <button type='submit' class="btn btn-outline-primary mb-5">Submit</button>
                            </div>
                          </div>
                        </form
                      </div>
                    </div>
                    </div>
                  </div>               
                  
                  <div class="container footfont">
  <div class="row justify-content-center">
    <div class="col-lg-3.5">
          <a  target="_blank" href="https://www.facebook.com/rubyinteriors007"><i class="fab fa-facebook fa-2x"></i></a>
          <a  target="_blank" href="https://www.linkedin.com/in/kaneez-fatma-34b9a1188/"><i class="fab fa-linkedin fa-2x"></i></a>
          <a  target="_blank" href="https://www.instagram.com/rubyinteriors7/"><i class="fab fa-instagram fa-2x"></i></a>
      </div>
    </div>
  <hr class="style18">
    <footer class="footer">
          <div class="row">
              <div class="col col-lg-4 col-md-4">
                  <p>J5/607 provident welworth city Marasandra, DB main Road, Yelahanka, Bengaluru, Karnataka 562157</p> 
              </div>
              <div class="col col-lg-4 col-md-4">
                  <P>+91 9513267961<br>
                      <span>ruby.interiors7@gmail.com</span>    
                      </P>
              </div>
            </div>
     
        <div class="row ">
          <div class="col footerights">
              <p id="foop"style="color: grey">Copyright © 2019 Ruby Interiors and Constructions</p>
              <br>
              <a href='https://github.com/wasifsn'  id="designer" target="_blank">Designed By Wasif</a>
           </div>
        </div>
    </footer>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/scripts/main.js"></script>    
</body>
</html>